<h1>Application</h1>
<p>Name: <%= @application.name %></p>
<p>Address: <%= @application.street_address %>, <%= @application.city %>,
<%= @application.state %>, <%= @application.zipcode %></p>
<p>Reason that this is a good home: <%= @application.description %></p>
<p>Pet Name(s): <% @application.pets.each do |pet| %>
  <%= pet.name %></p>
<% end %>
<p>Application Status: <%= @application.status %></p>

<p>"Add a Pet to this Application"</p>
<%= form_with url: "/applications/#{@application.id}?search=input", method: :get, local: true do |form| %>
  <%= form.label :search, "Search Pets by Name" %>
  <%= form.text_field :search %>
  <%= form.submit "Search" %>
<% end %>
<% @results.each do |result| %>
  <%= result.name %> <%= button_to "Adopt this Pet", "/applications/#{@application.id}", method: :post, params:{pet_id: "#{result.id}"} %></br>
<% end %>
